{% extends 'base.html' %}
{% load static %}
{% block head %}
<div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item "><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Categories</a>
                            <ul class="dropdown-menu">
								{% for i in cat %}
								<li><a href="/shop">{{i.c_name}}</a></li>
								{% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact_us">Contact Us</a></li>
                    </ul>
                </div>
{% endblock head %}

{% block body %}
    <div>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';" style="color:green">&times;
            <center>{{ message }}</center>
            </span>
           
        
        {% endfor %}
    </div>


<div class="cart-box-main">
        <div class="container">
            <div class="row new-account-login">
                <div class="col-sm-6 col-lg-12 mb-3">
                    <div class="title-left">
                        <h3>Account Login</h3>
                    </div>
                    <form method='POST'>
                    {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="InputEmail" class="mb-0">Email Address</label>
                                <input type="email" class="form-control" name="email" placeholder="Enter Email"> </div>
                        </div>
                        <button type="submit" class="btn hvr-hover">submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock body %}